{{ if eq .chezmoi.os "darwin" }}
instant-zsh-pre "
%{[1;38;5;15m%} %{[0m%} %{[1;36m%}~%{[0m%}  %{[1;32m%}❯%{[0m%} "
{{ else }}
instant-zsh-pre "
%{[1;38;5;15m%} %{[0m%} %{[1;36m%}~%{[0m%}  %{[1;32m%}❯%{[0m%} "
{{ end }}