#!/bin/bash
{{ if eq .chezmoi.os "darwin" }}
osascript -e 'tell application "System Events" to set picture of first desktop to "/Users/jstegeman/.desktop_backgrounds/1760887.jpg"'
#osascript -e 'tell application "System Events" to set picture of second desktop to "/Users/jstegeman/.desktop_backgrounds/Y87vg4rM.jpg"'
{{ end }}
