{{ if eq .chezmoi.os "darwin" }}

case $1 in

backup)
   echo "backing up dock"
   defaults read com.apple.dock persistent-apps > $(chezmoi source-path)/config/dock.backup
;;

restore)
   echo "restoring dock"
   # /bin/cat $(chezmoi source-path)/config/dock.backup | defaults write com.apple.dock persistent-apps
   killall -9 Dock
;;

*)
   echo "Usage: dock backup|restore"
;;

esac

{{ end }}
