#!/usr/bin/env zsh

{{ if eq .chezmoi.os "darwin" }}
z4h source -- /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh
{{ else }}
z4h source -- /home/jstegeman/.nix-profile/etc/profile.d/nix.sh
{{ end }}